@layer reset, base, tokens, recipes, utilities;

@import "@fontsource/pt-mono/400.css";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Mono", monospace;
}
