@layer reset, base, tokens, recipes, utilities;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

@keyframes Pound {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes starZero {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(5vw) rotate(-2deg);
    }

    100% {
        transform: translateY(5vh) translateX(-5vw) rotate(2deg);
    }
}

@keyframes starOne {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(5vw) rotate(-3deg);
    }

    100% {
        transform: translateY(20vh) translateX(-5vw) rotate(3deg);
    }
}

@keyframes starZero {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(-8vw) rotate(2deg);
    }

    100% {
        transform: translateY(15vh) translateX(8vw) rotate(-2deg);
    }
}
